<img src="<%= player.avatar %>"> <%= player.name %>'s <a href="http://dotabuff.com/matches/<%= matchId %>">most recent match</a> was a<% if (victory) { -%>
 victory.<% } else { -%>
 loss.<% } %>
<br>Played <img src="<%= player.hero.image %>"> and went <b><%= player.kills %>/<%=player.deaths -%>/<%=player.assists -%></b> with <b><%=player.gpm -%></b> gpm and <b><%=player.xpm -%></b> xpm
<br>Items: <% player.items.forEach(function(item){ -%>
<img src="<%= item %>"><% }); -%>